/* Add here all your CSS customizations */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
.icons-cont
{
    width:100%;
    float:left;
    text-align:center;
    margin-top:45px;
    font-weight:600;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 100%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


.products-type-cont
{
    width:100%;
    float:left;
    margin-top:25px;
    font-size:17px;
}

.deatils-btn
{
    font-size:14px;
}

.deatils-btn a
{
    color:#2e2e2e;
}

.deatils-btn a:hover
{
    text-decoration:none;
    color:#9f9e9c;
}


.content-box
{
    width:100%;
    float:left;
    padding:10px;
    background:#f1f1f1;
    margin-top:25px;
    min-height:245px;
}

.content-box-icon-cont
{
    width:100%;
    float:left;
    margin-top:-30px;
}

.icons2
{
    width:50px;
    height:50px;
    background:#333333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align:center;
    line-height:50px;
    margin:0px auto;
    color:#ffffff;
    font-size:25px;
}

.content-box-icon-cont h2
{
    font-size:20px;
    margin:0px;
}

.newfooter2
{
    width:100%;
    float:left;
    padding:40px 0px 0px 0px;
}

footer {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 5px solid #e9eaee;
    clear: both;
    font-size: 0.9em;
    margin-top: 50px;
    padding: 0px 0 0;
    position: relative;
}

div.footer-copyright {
    margin-top: 40px;
    float: left;
    width: 100%;
}

ul.social-icons
{
    text-align:center;
}

ul.social-icons li {
    background-color: #fff;
    background-image: url("../img/social-sprites.png");
    background-position: 0 100px;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: -1px 10px 5px 0;
    overflow: visible;
    padding: 0;
    transition: all 0.3s ease 0s;
}


.footer-menu
{
    width:100%;
    float:left;
}

.footer-menu ul
{
    text-align:center;
    list-style:none;
    margin-top:50px;
}

.footer-menu ul li
{
    display:inline;
    font-size:16px;
    padding:20px;
}

.footer-menu ul li a
{
    color:#333333 !important;
}

.footer-copyright
{
    margin-top:0px;
}

/*Aditional CSS at 2015-05-12 By Mariselvam*/
.cp-logo
{
    margin-top:28px;
}

header h1.logo {
    padding-top:15px !important;
}

.sticky-menu-active h1.logo
{
    padding-top:0px !important;
}

.sticky-menu-active .cp-logo
{
    padding-top:31px !important;
}

/*new styles 14-05-2015*/
.chekout-step
{
    margin-top:40px;
}


.chekout-step ul
{
    margin:0px;
    padding:0px;
}

.chekout-step ul li
{
    list-style:none;
    display:inline;
    padding:15px 66px;
    background:#f5f3f4;
    border-right:#FFFFFF solid 1px;
    color:#0088CC;
    font-size:18px;
    font-weight: 300
}

.chekout-step ul li a
{
    color:#0088cc;
}

.chekout-step ul li:first-child
{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}




.chekout-step ul li:last-child
{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tab-active
{
    background:#0088cc !important;
    color:#ffffff !important;
}

.tab-active a
{
    color:#ffffff !important;
}


.billing-address-part1
{
    width:100%;
    float:left;
    margin-top:25px;
}

legend {
    padding: 10px 0;
}

.push-top {
    margin-top: 25px;
}

.clearfix
{
    clear:both;
    width:100%;
}

.create-accbtn
{
    background:#2e2e2e !important;
    border:#000000 solid 1px;;
}


.create-accbtn:hover
{
    background:#000000 !important;
    border:#000000 solid 1px;
}

@media (max-width:767px) {
    .hidden-xs {
        display:none!important
    }
	
	.navbar-collapse.nav-main-collapse.collapse.primary-nav {

  margin-top: 0px !important;
}

    .chekout-step ul li {
        border-right: 1px solid #ffffff;
        display: inline;
        float: left;
        font-size: 14px;
        font-weight:normal;
        list-style: none outside none;
        padding: 10px 5px;
        width: 50%;
        text-align:center;
        margin-top:1px;
    }

    .chekout-step ul li:first-child
    {
        -webkit-border-top-left-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .chekout-step ul li:last-child
    {
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-bottomright: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .chekout-step legend span {
        color: #ff0033;
        font-size: 10px !important;
        font-weight: 300;
    }
	.new-shoppingcart
	{
		float:left !important;
		margin-top:20px !important;
	}
	
	
		.new-shoppingcart 
		{
			color:#ffffff !important
		}

		.new-shoppingcart a
		{
			color:#ffffff !important
		}
		
		header {
  min-height: 120px !important;
}

}
@media (min-width:768px)and (max-width:991px) {
	.new-shoppingcart
	{
		float:left !important;
		margin-top:20px !important;
	}
	
	header nav.nav-main {
		padding-bottom:0px !important;
}
	
	
	#mainMenu2 .dropdown.active {
  color: #ffffff !important;
  height: 50px;
  line-height: 39px !important;
}
	
	
	.nav-main.mega-menu.shop-menu {
  float: right;
  margin-top: 5px !important;
}
	
	.newfooter2 ul li
{
	font-size:13px !important;
	font-weight:600 !important;
}
	
    .chekout-step ul li {
        padding: 10px 14px;
    }

			.new-shoppingcart 
		{
			color:#ffffff !important
		}

		.new-shoppingcart a
		{
			color:#ffffff !important
		}
		
		header {
  min-height: 120px !important;
}
	
	
}
@media (min-width:992px)and (max-width:1199px) {
    .hidden-md {
        display:none!important
    }
		.chekout-step ul li {
  padding: 15px 40px;
}
}
@media (min-width:1200px) {
    .hidden-lg {
        display:none!important
    }
	

}

.radio-inline span
{
    color:#0088cc;
}

.billing-address-part1 b a
{
    color:#2e2e2e;
    text-decoration:underline;
}

.shipping-option
{
    font-size:17px;
}

.shipping-option span
{
    font-weight:bold;
    float:right !important;
    color:#000000;
}

.shipping-option input[type="radio"]{
    line-height: normal;
    margin-top:0px;
}

.cart-table-cont
{
    width:100%;
    float:left;
    margin-top:25px;
    font-size:14px !important;
    color:#000000;
}

/*27-5-2015*/

.sections-heading
{
    width:100%;
    float:left;
    border-bottom:#ebebeb solid 1px;
    padding-bottom:15px;
    font-size:30px;
    color:#008bc8;
    font-weight:200;
}

.sections-sub-heading
{
    width:100%;
    float:left;
    padding-bottom:10px;
    font-size:24px;
    color:#008bc8;
    font-weight:200;
    padding:10px 0px;
}

.sections-content
{
    color:#2e2e2e !important;
    width:100%;
    float:left;
    font-weight:200;
    font-size:18px;
    margin-top:22px;
    line-height:26px;
}

.sections-content h2
{
    font-weight:200;
    font-size:22px;
    color:#545454 !important;
    margin:0px 0px 10px 0px;
}

.sections-content img
{
/*    float:right;
    margin-left:15px;*/
}

p {
    color: #2e2e2e;
    line-height: 24px;
    margin: 0 0 20px;
}


.sections-content ul
{
    margin:0px;
    padding:0px;
}

.sections-content ul li
{
    list-style:none;
    background:url(../img/tick-icon.png) 0px 4px no-repeat;
    padding:0px 0px 5px 30px;
}

.client-partnertxt img
{
    float:left;
    margin-right:20px;
    margin-bottom:20px;
}

.right-img
{
    float:right
}

.secondry-menu
{
    width:100%;
    float:left;
    background:#f4f3f3;
    position:fixed;
    z-index:999;
	margin-top:18px;
}

.first-txt
{
    margin-top:90px;
}

.secondry-menu  a
{
    color:#666666;

}

.secondry-menu ul li
{
    font-size:18px !important;
    padding:0px 22px;
}

.sticky-menu-active .secondry-menu
{
	margin-top:8px !important;	
}

header nav ul.nav-main2 li a {
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 200 !important;
    line-height: 20px !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
    padding: 10px 13px !important;
    text-transform:none !important;
}

.secondry-menu ul li a
{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.secondry-menu .active
{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.secondry-btn
{
    background:#0088cc !important;
    margin-top:-25px;
    margin-right:10px;
}

header nav ul.nav-main2 {
    margin: 0px 10px 0px 0 !important;
}

nav.mega-menu .mega-menu-shop .dropdown-menu {
    right: -2px;
    width: 40%;
}

#user-email-popupform, #user-password-popupform
{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 10px;
    height: 36px;
}

.dropdown-menu .actions-continue {
    float: left;
    width: 56%;
    border:none !important;
    padding: 0px!important;
    margin: 0px!important;
}

.dropdown-menu .actions-continue a{
    display:initial  !important;
    color: #0099E6 !important;
    padding-left: 10px;

}

.dropdown-menu .actions-continue span{
    float: left!important;
    font-size: 14px;
}

.mega-menu-shop2 .actions-continue span{
    float: left!important;
    font-size: 14px;
	color:#777777 !important;
}

.dropdown-menu .actions-continue ul
{
    margin:0px 0px 0px 15px;
    padding: 0px;
    list-style:disc;
    float: left;
}

nav.mega-menu .mega-menu-content {
    padding: 20px 15px;
}

.dropdown-menu .actions-continue ul li a:hover
{
    background: none !important;
}

nav.mega-menu .mega-menu-shop {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

div.shop {
    margin-top: 30px;
}

div.featured-boxes.login {
    margin-top: 0;
}

.login-btn a {
    color: #ffffff !important;
    font-size: 18px !important;
    font-weight: 200 !important;
    list-style: none outside none !important;
    padding: 4px 5px !important;
    text-transform: none !important;
    border: none !important;
}
.dropdown.btn.btn-lg.btn-primary.login-btn {
    margin-top: 0px;
    padding: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.sticky-menu-active .dropdown.btn.btn-lg.btn-primary.login-btn
{
  /*  margin-top: 20px;*/
}

.cart-btn a {
    line-height: 15px !important;
    padding: 4px 5px !important;
}

.dropdown.cart-btn {
    margin-top: 5px;
    padding: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.sticky-menu-active .dropdown.cart-btn
{
    margin-top: 20px;
}

/*------1-6-2015------*/


.contact-section
{
	text-align:left;
}

.contact-section
{
	
}
.contact-section label
{
	font-weight:normal;
}


.contact-section
{
	color:#666666 !important;
	width:100%;
	float:left;
    font-weight:200;
	font-size:18px;
	margin-top:15px;
	line-height:26px;
	margin-bottom:50px;
}

.contact-right  p
{
	margin-bottom:30px;
}


.contact-right img
{
	float:left;
	margin-right:15px;
}


.contact-map
{
	width:100%;
	float:left;
	margin-top:25px;
}

.contact-right h4
{
	color:#666666;
	font-weight:200;
	font-size:24px;
}

.contact-person-cont
{
	text-align:center;
	font-size:18px;
	line-height:16px;
}

.contact-person-cont h2
{
	color:#666666;
	font-size:24px;
	margin:0px;
}

.contact-section div.featured-box
{
	text-align:left;
	color:#4e4e4e !important; 
}

.offertenanfrage-form .sections-heading
{
	margin-bottom:25px;
}

.offertenanfrage-form label
{
	margin-bottom:0px;
}

.offertenanfrage-form span
{
	font-size:17px;
	color:#2e2e2e;
}

.form-product
{
	width:100%;
	float:left;
}

.form-product h2
{
	font-size:18px;
	color:#2e2e2e;
	border-bottom:#eaeaea solid 1px;
	margin-bottom:10px;
	font-weight:normal;
}

.form-radio-option
{
	color:#2e2e2e;
	margin-bottom:10px;
	font-size:14px;
	font-weight:normal;
}

.form-product label
{
	font-size:14px;
	line-height:18px;
}


.border-form
{
	width:100%;
	float:left;
	border-top:#ebebeb solid 1px;
	padding-top:10px;
}

.box-content2
{
	padding-left:11px !important;
	padding-right:11px !important;
}

.publisher-cont
{
	font-size:18px;
	color:#666666;
}

.publisher-cont h2
{
	font-size:24px;
}

.publisher-img
{
	margin-top:45px;
}



/*new styles 9-06-2015*/


.newfooter2
{
	background:#fcfcfc;
	padding:25px 0px 20px 0px;
}

.newfooter2 h5 {
  color: #666666 !important;
  font-size: 18px;
  text-transform: none;
}
.newfooter2 ul
{
	margin:0px;
	padding:0px;
}

.newfooter2 ul li
{
	list-style:none;
	font-size:16px;
}

.newfooter2 ul li a
{
	color:#666666 !important;
}

.newfooter2 ul li a:hover
{
	color:#0164a7 !important;
}

ul.social-icons {
  text-align: left;
}

.footer-copyright
{
	margin-top:0px !important;
}


body.sticky-menu-active header.flat-menu div.header-top {
  display:block;
}

body.sticky-menu-active header.flat-menu nav ul.nav-main {
  margin-bottom: 5px;
  margin-top: 0;
}

.new-shoppingcart
{
	width:auto;
	float:right;
}

.new-carticon
{
	width:25px;
	height:25px;
	/*background:#0164a7;
	-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
color:#ffffff;
text-align:center;*/
float:left;
margin-right:10px;
}

.new-carttxt
{
	width:auto;
	float:left;
	line-height:43px;
}

.new-carttxt a
{
	color:#2e2e2e;
}

.phone > span {
  font-size: 16px !important;
}

.nav.nav-pills.nav-top > li {
  font-size: 16px !important;
}

.nav-main.mega-menu.shop-menu {
  float: right;
  margin-top:15px
}

.mega-menu-shop2
{
	border:none;
	background:#0064a7;
	padding:6px !important
}

.mega-menu-shop2:hover
{
	background:#0064a7 !important;
}

.mega-menu-shop2 ul li a:hover{
	background:#0064a7 !important;
}


.mega-menu-shop2 .dropdown-menu
{
	width:100% !important;
	border-top:none !important;
}

#mainMenu2 .dropdown.active a
{
	color:#ffffff !important;
	height:auto;
	line-height:27px;
}


#mainMenu2 .dropdown.active 
{
	color:#ffffff !important;
	height:auto;
	line-height:48px;
}


.new-carttxt a
{
	color:#0088cc !important;
}

.new-carttxt a:hover
{
	background:none !important;
}


.navbar-collapse.nav-main-collapse.collapse.primary-nav {
  margin-top: 0px; 
}


.sticky-menu-active .mega-menu.nav-main
{
	margin-top:15px;
}

.mega-menu.nav-main
{
	margin-top:25px;
}

.secondary-nav .nav-main
{
	float:left !important;
}

 header {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.user_login_popupform .form-control{
    padding:8px;
}