/* Add here all your CSS customizations */
.chekout-step h4{
    font-weight: 300;
    font-size: 30px;
    color: #000000;
    margin: 14px 0;
}

.chekout-step p{
    margin: 14px 0;
}

.chekout-step p.address{
    font-size: 16px;
}

.chekout-step legend{
    font-weight: 300;
    font-size: 22px;
}

.chekout-step legend span{
    font-weight: 300;
    font-size: 16px;
    color: #ff0033;
}

.chekout-step label {
    font-weight: 300;
    font-size: 18px;
}

div.featured-boxes div.featured-box {
    margin-bottom: 30px;
    margin-top: 15px;
}

.checkout-login h4{
    font-weight: 300 !important;
    font-size: 28px !important;
    color: #000000;
    text-transform: none !important;
}

.checkout-login p.welcome{
    font-weight: 300 !important;
    font-size: 26px !important;
}

.checkout-login p{
    font-weight: 300 !important;
    font-size: 20px !important;
}

.checkout-login label {
    font-weight: 300;
    font-size: 18px;
}

.ui-datepicker select{
    border: 0 !important;
    border-radius: 0px !important;
    height: auto !important;
    outline: medium none !important;
    padding: 0 !important;
}

.payment_methods{
    color: #000000;
    font-size: 19px !important;
    font-weight: 300;
}

.payment_methods span{
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
}

.payment_methods p{
    color: #000000 !important;
}

.summary_shipping_cost{
    font-size: 18px;
}

.summary_total_gross{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.summary_vat{
    font-size: 13px;
}

section.page-top{
    background-color: #0088cc;
}

.breadcrumb > .active{
    color: #000000;
}

.breadcrumb a{
    color: #FFFFFF;
}

.breadcrumb a:hover{
    color: #FFFFFF;
}

.error-message{
    color: #ff0033;
}

.my_account {
    margin-top:0px;
}

header .secondry-menu nav ul.nav-main2 li.active a, header .secondry-menu nav ul.nav-main2 li > a:hover {
    background-color: #0088cc !important;
    color: #fff !important;
}
