/* Add here all your CSS customizations */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
.icons-cont
{
    width:100%;
    float:left;
    text-align:center;
    margin-top:45px;
    font-weight:600;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 100%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


.products-type-cont
{
    width:100%;
    float:left;
    margin-top:25px;
    font-size:17px;
}

.deatils-btn
{
    font-size:14px;
}

.deatils-btn a
{
    color:#2e2e2e;
}

.deatils-btn a:hover
{
    text-decoration:none;
    color:#9f9e9c;
}


.content-box
{
    width:100%;
    float:left;
    padding:10px;
    background:#f1f1f1;
    margin-top:25px;
    min-height:245px;
}

.content-box-icon-cont
{
    width:100%;
    float:left;
    margin-top:-30px;
}

.icons2
{
    width:50px;
    height:50px;
    background:#333333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align:center;
    line-height:50px;
    margin:0px auto;
    color:#ffffff;
    font-size:25px;
}

.content-box-icon-cont h2
{
    font-size:20px;
    margin:0px;
}

.newfooter2
{
    width:100%;
    float:left;
    padding:40px 0px 0px 0px;
}

footer {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 5px solid #e9eaee;
    clear: both;
    font-size: 0.9em;
    margin-top: 50px;
    padding: 0px 0 0;
    position: relative;
}

div.footer-copyright {
    background: none repeat scroll 0 0 #0c0c0c;
    border-top: 4px solid #111;
    margin-top: 40px;
    padding: 30px 0 10px;
    float: left;
    width: 100%;
}

ul.social-icons  
{
    text-align:center;
}

ul.social-icons li {
    background-color: #fff;
    background-image: url("../img/social-sprites.png");
    background-position: 0 100px;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: -1px 10px 5px 0;
    overflow: visible;
    padding: 0;
    transition: all 0.3s ease 0s;
}


.footer-menu
{
    width:100%;
    float:left;
}

.footer-menu ul
{
    text-align:center;
    list-style:none;
    margin-top:50px;
}

.footer-menu ul li
{
    display:inline;
    font-size:16px;
    padding:20px;
}

.footer-menu ul li a
{
    color:#333333 !important;
}

.footer-copyright
{
    margin-top:0px;
}

/*Aditional CSS at 2015-05-12 By Mariselvam*/
.cp-logo
{
    margin-top:28px;
}

header h1.logo {
    padding-top:15px !important;
}

.sticky-menu-active h1.logo
{
    padding-top:29px !important;
}

.sticky-menu-active .cp-logo
{
    padding-top:31px !important;
}

/*new styles 14-05-2015*/
.chekout-step
{
	margin-top:25px;
}


.chekout-step ul
{
	margin:0px;
	padding:0px;
}

.chekout-step ul li
{
	list-style:none;
	display:inline;
	padding:15px 80px;
	background:#f5f3f4;
	border-right:#FFFFFF solid 1px;
	color:#0088CC;
	font-size:18px;
        font-weight: 300
}

.chekout-step ul li a
{
	color:#d0cecf;
}

.chekout-step ul li:first-child
{
	-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}




.chekout-step ul li:last-child
{
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.tab-active
{
	background:#0088cc !important;
	color:#ffffff !important;
}

.tab-active a
{
	color:#ffffff !important;
}


.billing-address-part1
{
    width:100%;
    float:left;
    margin-top:25px;
}

legend {
    padding: 10px 0;
}

.push-top {
    margin-top: 25px;
}

.clearfix
{
    clear:both;
    width:100%;
}

.create-accbtn
{
    background:#2e2e2e !important;
    border:#000000 solid 1px;;
}


.create-accbtn:hover
{
    background:#000000 !important;
    border:#000000 solid 1px;;
}

@media (max-width:767px) {
    .hidden-xs {
        display:none!important
    }

    .chekout-step ul li {
        background: none repeat scroll 0 0 #53c1f7;
        border-right: 1px solid #ffffff;
        color: #ffffff;
        display: inline;
        float: left;
        font-size: 14px;
        font-weight:normal;
        list-style: none outside none;
        padding: 10px 5px;
        width: 50%;
        text-align:center;
        margin-top:1px;
    }

    .chekout-step ul li:first-child
    {
        -webkit-border-top-left-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .chekout-step ul li:last-child
    {
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-bottomright: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

}
@media (min-width:768px)and (max-width:991px) {
    .chekout-step ul li {
        padding: 10px 16px;
    }
}
@media (min-width:992px)and (max-width:1199px) {
    .hidden-md {
        display:none!important
    }
}
@media (min-width:1200px) {
    .hidden-lg {
        display:none!important
    }
}

.radio-inline span
{
    color:#0088cc;
}

.billing-address-part1 b a
{
    color:#2e2e2e;
    text-decoration:underline;
}

.shipping-option
{
    font-size:17px;
}

.shipping-option span
{
    font-weight:bold;
    float:right !important; 
    color:#000000;
}

.shipping-option input[type="radio"]{
    line-height: normal;
    margin-top:0px;
}

.cart-table-cont
{
    width:100%;
    float:left;
    margin-top:25px;
    font-size:14px !important;
    color:#000000;
}